
<h1>Angular Smart Card Reader ( Electron )</h1>

<div *ngIf = "userData; else noCardInserted">

  <p>Codice Emettitore: {{ userData.emitterCode }}</p>
  <p>Data di rilascio:  {{ userData.releasedDate }}</p>
  <p>Data di scadenza:  {{ userData.expirationDate }}</p>


  <p>Nome:                        {{ userData.name }}</p>
  <p>Cognome:                     {{ userData.lastname }}</p>
  <p>Sesso:                       {{ userData.sex }}</p>
  <p>Codice fiscale:              {{ userData.fiscalCode }}</p>
  <p>Codice Comune di nascita:    {{ userData.birthCityCode }}</p>
  <p>Codice Comune di residneza:  {{ userData.residenceCityCode }}</p>
  <p>Indirizzo di residenza:      {{ userData.residenceAddress }}</p>

</div>

<ng-template #noCardInserted>
  Nessuna carta inserita nel lettore!
</ng-template>